<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/img/logo.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Standard -->
    <title>{{title}} - Francisco Presencia</title>
    <meta content="Blog, Francisco Presencia, Francisco, Presencia, Software, Programmer, Javascript, Node.js" name="keywords">
    <meta content="{{description}}" name="description">

    <!-- Thanks https://moz.com/blog/meta-data-templates-123 -->
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@fpresencia">
    <meta name="twitter:title" content="{{title}} - Francisco Presencia">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="@fpresencia">
    <meta name="twitter:image" content="https://francisco.io/img/card_cta.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{title}} - Francisco Presencia" />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="https:///francisco.io/blog/{{id}}/" />
    <meta property="og:image" content="https://francisco.io/img/card_cta.png" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:site_name" content="Blog of Francisco Presencia" />

    <link href="/style.min.css" rel="stylesheet">
    <style media="screen">
      h2, h3 {
        margin: 1.2em 0 -.3em;
        padding: 0;
      }

      h1 + p, h2 + p, p {
        margin: .8em 0;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>{{title}}</h1>
      <div class="meta">
        <a href="https://francisco.io/"><img class="logo" src="/img/logo.png"> Francisco Presencia</a>
        <a href="https:///francisco.io/blog/{{id}}/">🕑 <time datetime="{{date}}">{loading...}</time></a>
      </div>

      {{{body}}}

      <footer class="love">
        <a href="https://www.paypal.me/franciscopresencia/10">💙 💚 💛 💜</a>
      </footer>

      <comment-box class="border" title="" site="https://francisco.io/blog/{{id}}"></comment-box>

      <script src="https://cdn.jsdelivr.net/npm/timeago.js/dist/timeago.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
      <script src="https://comments.network/comments.js"></script>
      <script type="text/javascript">
        timeago().render(document.querySelectorAll('time'));
      </script>
    </main>
  </body>
</html>
